body,html{
    font-size: 1rem;
    padding: 0;
    margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hide-desktop{display: none;}
.hide-mobile{display: inherit;}
.hide-tablet{display: inherit;}

.hide{display: none;}
.show{display: inherit;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}


.wrapper{
	width: 80%;
	margin: 0 auto;
}

.center-block{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


#mobile-header-action{
	background: green;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#mobile-header-menu{
	background: blue;
}

#mobile-header-action .logo,
#mobile-header-action .burger
{
	width: 50%;
	vertical-align: middle;
	display: inline-block
}

#mobile-header-action .burger .menu-button i{
	cursor: pointer;
}


input{
	-webkit-appearance: none;	
}

select {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CgkJCQk8c3ZnIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCA0MCAxNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+CgkJCQkgICAgPGRlZnM+PC9kZWZzPgoJCQkJICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPgoJCQkJICAgICAgICA8cGF0aCBkPSJNMjAsMTUgTDAsMTUgTDEwLDAgTDIwLDE1IFoiIGlkPSJUcmlhbmdsZS0xIiBmaWxsPSIjNjY2NjY2IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMC4wMDAwMDAsIDcuNTAwMDAwKSByb3RhdGUoLTE4MC4wMDAwMDApIHRyYW5zbGF0ZSgtMTAuMDAwMDAwLCAtNy41MDAwMDApICI+PC9wYXRoPgoJCQkJICAgIDwvZz4KCQkJCTwvc3ZnPg==) !important;

	background-repeat: no-repeat !important;
	background-position: center right !important;
	background-size: 20px !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}


.input.ckb{display:block;position:relative;padding-left:30px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.input.ckb input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.input.ckb .checkmark{position:absolute;top:0;left:0;height:20px;width:20px;background-color:#eee}
.input.ckb:hover input~.checkmark{background-color:#ccc}
.input.ckb input:checked~.checkmark{background-color:#b6d857}
.checkmark:after{content:"";position:absolute;display:none}
.input.ckb input:checked~.checkmark:after{display:block}
.input.ckb .checkmark:after{left:7px;top:2px;width:3px;height:10px;border:solid #fff;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}


/* customcheckbox example
<label class="input ckb">
	Checkbox
	<input type="checkbox" name="" id="ckb1"> 
	<span class="checkmark"></span>
</label>
*/


